.attribution { 
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 1300px) {
  .attribution {
    font-size: 1rem;
  }
}
@media screen and (min-width: 2400px) {
  .attribution {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 3000px) {
  .attribution {
    font-size: 2rem;
  }
}